main .cart-container {
  display:none;
}

main .cart-container .summary {
  display: flex;
  color: rgb(221,215,198);
  background-color: red;
  position: fixed;
  height: 65px;
  bottom: 0px;
  width: 100%;
  padding: 16px;
  margin: 0;
  left:0;
  right:0;
  align-items: center;
}