body {
  padding: 0;
  margin: 0;
  background-color: white;
  font-family: "source-sans-pro", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
}


header {
  background-color: #222;
  padding: 16px;
  color: rgb(221,215,198);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;å
}

header > div {
  display: flex;  
  justify-content: space-between;
  align-items: center;  
}

header .main-menu {
  display: none;

}

header img {
  height: 24px;
}

.hidden {
  display: none;
}

main img {
  width: 100%;
  object-fit: cover;
}

main .section-wrapper {
  margin: 16px;
}

main .section-wrapper > div {
  max-width: 1200px;
  margin: auto;
} 

main .full-image {
  margin: 0;
  box-sizing: border-box;
  /* max-width: 1024px;     */
  margin: auto;
}

main .full-image > div {
  padding-bottom: 54%;
  position: relative;
  overflow: hidden;
}

main .full-image > div img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  object-fit: cover;  
}

main .full-image > div h1 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  text-align: center;
  color: white;
  background-color: #00000080;
  padding: 12px;
}

footer {
  background-color: #222;
  color: rgb(221,215,198);
  font-weight: 700;
}

footer > div {
  display: flex;
  padding: 16px;
  font-size: 0.8em;
  justify-content: space-between;
  align-items: center;
}

footer img {
  width: 32px;
}

@media (min-width: 900px) {
  body {
    font-size: 1.8em;
  }
}
