@import url("https://helix-pages-adobe.hlx.page/style.css");
@import url('https://fonts.googleapis.com/css?family=Hammersmith+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

header {
    background-color: #879988;
    text-align: center;
    padding: 10px;    
}

header img {
    height: 20px;
    fill: grey;
}

div.image {
    line-height: 0;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    background-color: #EDE6D2;
    color: #383845;
}

h1, h2, h3 {
    font-family: 'Hammersmith One', sans-serif;
}

main {
    width: 100%;
}

main .header h1 {
    color: #EDE6D2;
}

main .header p {
    color: #EDE6D2;
}

@media (min-width:900px) {
    main>div.default>* {
        width: 800px;
    }

    main>div.default {
        display: flex;
        flex-direction: column;
        margin: 0;
        width: 100%;
        box-sizing: border-box;
        align-items: center;
    
    }
}



main>div:nth-of-type(4) {
    background-color: #383845;
    color: #EDE6D2;
}

main>div:nth-of-type(6) {
    background-color: #B4C7B6;
    color: #879988;
}

main a {
    display: inline-block;
    border-radius: 0px;
    border-style: solid;
    border-width: 2px;
    border-color: #EDE6D2;
    background-color: #879988;
    color: #EDE6D2;
    text-decoration: none;
    padding: 12px 20px 10px 20px;    
    font-weight: 400;
    outline-style: solid;
    outline-color: #879988;
    outline-width: 4px;
    text-transform: uppercase;
    
}

footer {
    display: flex;
    background-color: #879988;
    color: #ede6d2;
    columns: 33% 33% 33%;
    justify-content: center;
}

footer img {
    height: 90px;
}

footer>* {
    width: 25%;
}
footer p {
    font-size: 17px;
    align-self: center;
    padding: 20px;
}
