@import url("https://helix-pages-adobe.hlx.page/style.css");

header {
    background-color: #879988;
    text-align: center;
    padding: 10px;
}

header img {
    height: 20px;
    fill: grey;
}

main a {
    border-radius: 20px;
    background-color: #879988;
    color: white;
    text-decoration: none;
    padding: 5px 20px;
    font-weight: 700;
}