@import '../../styles/media-queries.scss';

.hero-container {
  display: flex;
  width: 100%;
  margin: 0; 
  div {
    width: 100%;
  }
  .hero {
    display: flex;
    width: 100%;
    img {      
      width: 100%;
      object-fit: cover;
    }
    .belt {
      position: absolute;
      top: 50%;
      transform: translateY(-10%);
      left: 0;
      right: 0;
      text-align: center;
      color: #ede6d2;
      background-color: #00000040;
      padding: 12px;
      font-size: 2rem;
      @include xs {
        top: 20%; 
        font-size: 1rem;
      }
    }
  }
}
